body {
    background: #e3f6f5;
}

#header {
    background:  #bae8e8;
    display: flex;
    justify-content: space-between;

}

#linkBox{
    display: flex;
   flex-direction: row-reverse; 
   align-items: center;
   padding: 10px;
}

#name{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;    
}

.link{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    padding: 10px;
}
